body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App {
    text-align: center;
    padding: 20px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  body {
    font-family: 'Fira Code', monospace;
    background-color: #fffaf0; /* Tom de laranja suave */
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #ff8c00; /* Laranja */
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
  }
  
  .box {
    width: 48%;
    padding: 30px;
    border: 2px solid #ff8c00;
    border-radius: 10px;
    background-color: #fffaf0;
    box-sizing: border-box;
    margin: 25px;
  }
  
  button {
    background-color: #ff8c00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #e67e22;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
  }
  
  @media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 10px;
    }
    
    .container {
      width: 100%;
      padding: 5px;
    }

    .menu {
        display: block;
    }
}
